<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords" content="SocialChef - Social Recipe HTML Template" />
	<meta name="description" content="SocialChef - Social Recipe HTML Template">
	<meta name="author" content="themeenergy.com">
	
	<title>Heart Food - My account</title>
	
	<link rel="stylesheet" href="css/style.css" />
	<link rel="stylesheet" href="css/icons.css" />
	<link href="http://fonts.googleapis.com/css?family=Raleway:400,300,500,600,700,800" rel="stylesheet">
	<!-- <script src="https://use.fontawesome.com/e808bf9397.js"></script> -->
	<link rel="shortcut icon" href="/fullstackproject/public/images/favicon.ico" />
	
    </head>
    <body>
		<header class="head" role="banner">
			<%- include ('partials/content/header.ejs') %> 
		</header>
	<!--//header-->
		
	<!--main-->
	<main class="main" role="main">
		<!--wrap-->
		<div class="wrap clearfix">
			<!--breadcrumbs-->
			<nav class="breadcrumbs">
				<ul>
					<li><a href="" title="Home">Home</a></li>
					<li>My account</li>
				</ul>
			</nav>
			<!--//breadcrumbs-->
			
		
			<!--content-->
			<section class="content">
				<!--row-->
				<div class="row">
					<!--profile left part-->
					<div class="my_account one-fourth">
						<figure>
							<img src="<%=  profliePicUrl %> " alt="" height="" />
							
						</figure>
						<div class="container">
							<h2 class="center"><%= userName %> </h2> 
						</div>
					</div>
					<!--//profile left part-->
					
					<div class="three-fourth">
						<nav class="tabs">
							<ul>
								<li class="active"><a href="#about" title="About me">About me</a></li>
								<li><a href="#recipes" title="My recipes">My recipes</a></li>
								<li><a href="#favorites" title="My favorites">Add recipe</a></li>
								<li><a href="#posts" title="My family">Manage family</a></li>
							</ul>
						</nav>
						
						<!--about-->
						<div class="tab-content" id="about">
							<div class="row">
								<dl class="basic two-third">
									<dt>Name</dt>
									<dd><%= userName %></dd>
									<dt>My Family</dt>
									<dd>Family name here dynamically</dd>
									<dt>Recipes submitted</dt>
									<dd>Number of recipes dynamically</dd>
									
								</dl>

							</div>
						</div>
						<!--//about-->
					
						<!--my recipes-->
						<div class="tab-content" id="recipes">
							<div class="entries row">
								<!--item-->
								<div class="entry one-third">
									<figure>
										<img src="images/img.jpg" alt="" />
										<figcaption><a href="recipe.html"><i class="icon icon-themeenergy_eye2"></i> <span>View recipe</span></a></figcaption>
									</figure>
									<div class="container">
										<h2><a href="recipe.html">Thai fried rice with fruit and vegetables</a></h2> 
										<div class="actions">
											<div>
												<div class="difficulty"><i class="ico i-medium"></i><a href="#">medium</a></div>
												<div class="likes"><i class="fa fa-heart"></i><a href="#">10</a></div>
												<div class="comments"><i class="fa fa-comment"></i><a href="recipe.html#comments">27</a></div>
											</div>
										</div>
									</div>
								</div>
								<!--item-->
								
								<!--item-->
								<div class="entry one-third">
									<figure>
										<img src="images/img.jpg" alt="" />
										<figcaption><a href="recipe.html"><i class="icon icon-themeenergy_eye2"></i> <span>View recipe</span></a></figcaption>
									</figure>
									<div class="container">
										<h2><a href="recipe.html">Spicy Morroccan prawns with cherry tomatoes</a></h2> 
										<div class="actions">
											<div>
												<div class="difficulty"><i class="ico i-hard"></i><a href="#">hard</a></div>
												<div class="likes"><i class="fa fa-heart"></i><a href="#">10</a></div>
												<div class="comments"><i class="fa fa-comment"></i><a href="recipe.html#comments">27</a></div>
											</div>
										</div>
									</div>
								</div>
								<!--item-->
								
								<!--item-->
								<div class="entry one-third">
									<figure>
										<img src="images/img.jpg" alt="" />
										<figcaption><a href="recipe.html"><i class="icon icon-themeenergy_eye2"></i> <span>View recipe</span></a></figcaption>
									</figure>
									<div class="container">
										<h2><a href="recipe.html">Super easy blueberry cheesecake</a></h2> 
										<div class="actions">
											<div>
												<div class="difficulty"><i class="ico i-easy"></i><a href="#">easy</a></div>
												<div class="likes"><i class="fa fa-heart"></i><a href="#">10</a></div>
												<div class="comments"><i class="fa fa-comment"></i><a href="recipe.html#comments">27</a></div>
											</div>
										</div>
									</div>
								</div>
								<!--item-->
							</div>
						</div>
						<!--//my recipes-->
						
						
						<!--my favorites NOW ADD RECIPE-->
						<div class="tab-content" id="favorites">
							
				<section class="content full-width">
					<div class="submit_recipe container">
						<form action="/register" method="post" enctype="multipart/form-data">
							<section>
								<h2>Title</h2>
								<!-- <p>All fields are required.</p> -->
								<div class="f-row">
									<div class="full"><input type="text" placeholder="Recipe title" name="" /></div>
								</div>
								<!-- <div class="f-row">
									<div class="third"><input type="text" placeholder="Preparation time" /></div>
									<div class="third"><input type="text" placeholder="Cooking time" /></div>
									<div class="third"><input type="text" placeholder="Difficulty" /></div>
								</div>
								<div class="f-row">
									<div class="third"><input type="text" placeholder="Serves how many people?" /></div>
									<div class="third"><select><option selected="selected">Select a category</option></select></div>
								</div> -->
							</section>
							
							<section>
								<h2>Ingredients</h2>
								<div class="f-row">
									<div class="full">
										<textarea placeholder="Add Ingredients" name=""></textarea></div>
								</div>

							<section>
								<h2>Directions</h2>
								<div class="f-row">
									<div class="full">
										<textarea placeholder=" Write directions Here" name=""></textarea></div>
								</div>
							</section>	
							
							<section>
								<h2>Ingredients</h2>
								<div class="f-row ingredient">
									<div class="large"><input type="text" placeholder="Ingredient" /></div>
									<div class="small"><input type="text" placeholder="Quantity" /></div>
									<div class="third"><select><option selected="selected">Select a category</option></select></div>
									<button class="remove">-</button>
								</div>
								<div class="f-row full">
									<button class="add">Add an ingredient</button>
								</div>
							</section>	
							
							<section>
								<h2>Instructions <span>(enter instructions, each step at a time)</span></h2>
								<div class="f-row instruction">
									<div class="full"><input type="text" placeholder="Instructions" /></div>
									<button class="remove">-</button>
								</div>
								<div class="f-row full">
									<button class="add">Add a step</button>
								</div>
							</section>
							
							<section>
								<h2>Photo</h2>
								<div class="f-row full">
									<input type="file" name="image" />
								</div>
							</section>	
							
							<!-- <section>
								<h2>Status <span>(would you like to further edit this recipe or are you ready to publish it?)</span></h2>
								<div class="f-row full">
									<input type="radio" id="r1" name="radio"/>
									<label for="r1">I am still working on it</label>
								</div>
								<div class="f-row full">
									<input type="radio" id="r2" name="radio"/>
									<label for="r2">I am ready to publish this recipe</label>
								</div>
							</section> -->
							
							<div class="f-row full">
								<input type="submit" class="button" id="submitRecipe" value="Publish this recipe" />
							</div>
						</form>
					</div>
				</section>
				<!--//content-->
						</div>
						<!--//my favorites-->
						
						<!--my posts NOW MY FAMILY-->
						<div class="tab-content" id="posts">
								<section>
								<div class="row">
								<a href="/register" class="button white more medium ">Join our community </a>
								<a href="/register" class="button white more medium ">Join our community </a>
								</div>
								</section>

								<section>
								<div class="row">
									<dl class="basic two-third">
										<dt>Family Name</dt>
										<dd>Family Name dynamically generated here</dd>
										<dt>Family member:</dt>
										<dd>family members dynamically generated</dd>
										<!-- <dt>Family member:</dt>
										<dd>***</dd>
										<dt>Family member:</dt>
										<dd>***</dd>
										<dt>Family member:</dt>
										<dd>***</dd>
										<dt>Family member</dt>
										<dd>***</dd> -->
									</dl>	
								</div>
								</section>
							
						</div>
						<!--//my posts-->
					</div>
				</div>
				<!--//row-->
			</section>
			<!--//content-->
		</div>
		<!--//wrap-->
	</main>
	<!--//main-->
	
	
	<!--footer-->
	<footer class="foot" role="contentinfo">
		<%- include ('partials/content/footer.ejs') %> 
	</footer>
	<!--//footer-->
	<script src="js/jquery-3.1.0.min.js"></script>
	<script src="js/jquery.uniform.min.js"></script>
	<script src="js/jquery.slicknav.min.js"></script>
	<script src="js/scripts.js"></script>
</body>
</html>


